.navbar{
  z-index: 1;
  position: sticky;
  top:0;
  font-family: Cairo, sans-serif;
  box-shadow: rgb(161, 161, 161) 0px 2px 10px 0px;
}
.activeli{
  background-color: #FC5185;
  color: #EEEEEE !important;
  border-radius: 25px;
}
.navbar-brand{
  padding-left: 200px;
  font-size: 28px;
  font-weight: 700;
  color: #FC5185;
}
.navbar-nav{
  padding-left: 550px;
}
.navbar-nav .nav-item{
  text-align: right;
  padding-right: 25px;
  font-size: 18px;
}
.navbar .navbar-nav .nav-item .nav-link{
  color: #364F6B;

}
.navbar .navbar-nav .nav-item .nav-link:hover{
  color: #FC5185;
  border-bottom: #FC5185 solid 2px;
}
