.user_card {
  height: 550px;
  width: 450px;
  background: #364F6B;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: #EEEEEE;
  font-family: Cairo;
  font-size: 18px;

}
.brand_logo_container {
  position: absolute;
  height: 200px;
  width: 200px;
  top: -75px;
  border-radius: 50%;
  background: #FC5185;
  padding: 10px;
  text-align: center;
}
.brand_logo {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid white;
}
.form_container {
  margin-top: 100px;
}
.login_btn {
  width: 100%;
  background: #FC5185 !important;
  color: white !important;
}
.login_btn:hover{
  background: #c03e65 !important;
}
.login_btn:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.login_container {
  padding: 0 2rem;
}
.input-group-text {
  background: #FC5185 !important;
  color: white !important;
  border: 0 !important;
  border-radius: 0.25rem 0 0 0.25rem !important;
  height: 50px;
}
.input_user,
.input_pass:focus {
  box-shadow: none !important;
  outline: 0px !important;
}
.justify-content-center a{
  color: #FC5185 !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #c0392b !important;
}
